/********** Base styles **********/
* {
    font-family: Helvetica, sans-serif;
}

#collapsable-nav-container {
  padding: 0px;
}

#nav-list {
  background-color: wheat;
  margin-top: 0px;
  margin-bottom: 0px;
}

#collapsable-nav li a {
  text-align: center;
  padding: 0px;
  border-bottom: solid black 1px;
}

h1 {
  margin-bottom: 15px;
  font-size: 1.75em;
}

#main-content {
  padding-bottom: 15px;
}

.dish {
  padding: 12px;
}

.dish-tile {
  background-color: #999999;
  position: relative;
  padding: 15px
}

.dish-tile > h3 {
  margin: 10px;
  font-size: 1.25em;
}

.dish-tile > p {
  margin: 15px;
}

p.dish-tile-padding {
  height: 700px;
  text-align: center;
  font-weight: bold;
}

/********** tablet version **********/

@media (min-width: 768px) and (max-width: 991.98px) {
  p.dish-tile-padding {
    height: 500px;
  }

  #sushi-dish p.dish-tile-padding {
    height: 200px;
  }
}

/********** mobile version **********/

@media (max-width: 767.98px) {
  p.dish-tile-padding {
    height: 250px;
  }
}
