/********** Base styles **********/
* {
    font-family: Helvetica, sans-serif;
  }
h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.75em;
}
section {
  background-color: #999999;
}
section > h2 {
  margin: 10px;
  text-align: center;
  font-size: 1.25em;
}

section > p {
  margin: 15px;
}

#chicken-dish {
  min-height: 1000px;
}


/********** Desktop & tablet version **********/

/********** Mobile version **********/
